.bg-custom-1{
    background: rgba(255, 166, 0, 0.2);
}
.bg-custom-2{
    background: #feeae9;
}
.bg-custom-3{
    background: #e3e4e3;
}
.btn-custom-1{
    display: inline;
    color: orange;
}
.bg-custom-g{
    background: rgba(95, 81, 73, 0.25);
   
}
